<div>
  <p>
    Dear {{.FirstName}} {{.LastName}},
  </p>

  <p>
    Welcome to Arravo's 2024 Hackathon! We are excited to have you join our hackathon as an administrator.
  </p>

  <p>
    To begin, we kindly request your confirmation of your email address. Please click the button below to verify your email:
  </p>

  <p style="text-align:center;">
    <a style="background-color:powderblue;display:inline-block;padding:10px;">Verify</a>
  </p>

  <p>
    If the button above doesn't work, you can alternatively copy and paste the following link into your browser:
  </p>

  <p style="text-align:center;">
    <strong>{{.Token}}</strong>
  </p>

  <p>
    Please be aware that this link will expire in {{.TTL}} days for security purposes.
  </p>

  <p>
    Next, you can login with the following credentials.
  </p>

<p style="text-align:center">
  <span>Email: <strong>{{.Email}}</strong></span>
</p>


<p style="text-align:center">
  <span>Email: <strong>{{.Password}}</strong></span>
</p>

<p>You are urged to change your password as soon as you login</p>

  <p>
    If you require any assistance or have inquiries, please don't hesitate to reply to this email. We are here to support you!
  </p>

  <p>
    Thank you,
  </p>

  <h3>Eunice King</h3>
  <h4>VP, Digital Innovation</h4>
  <h4>Arravo</h4>
</div>