<div>
<p>
    Subject: Invitation to Register on Arravo's Hackathon
</p>

<p>Dear {{.InviteeName}},</p>

<p>
    I hope this email finds you well. {{.InviterName}} reaching out to extend an invitation for you to join their team for Arravo's upcoming hackathon. 
    You've been personally recommended by {{.InviterName}}, who believes that your skills and expertise would be a great addition to their team.
</p>

<p>
    Arravo hackathon aims to [brief description of hackathon's goals]. As a team member, you'll have the opportunity to collaborate with other talented individuals, tackle challenges, and develop innovative solutions.
</p>

<p>
    To complete your registration and join the team, please follow these simple steps:
</p>

<p>
    1. Click on the following link to access the registration page: 
    <p style="margin-left:20px;padding: 8px 16px;background-color: #007bff;color: #fff;border-radius: 4px;text-decoration: none;transition: background-color 0.3s ease;" ><a href="{{.Link}}">Accept invite<a/></p>
    <p style="margin-left:20px" >Link expires in {{.TTL}} days</p>
</p>

<p>
    2. Fill out the required information, including your name, email address, and any additional details requested.
</p>

<p>
    3. Create a secure password for your account.
</p>

<p>
    4. Agree to the terms and conditions, if applicable.
</p>

<p>
    5. Click "Register" to finalize your registration.
</p>

<p>
    Once you've completed these steps, you'll gain access to your team's dashboard and be able to start engaging with your team right away.
</p>

<p>
    Should you have any questions or encounter any difficulties during the registration process, please don't hesitate to reach out to me or our support team at [Support Email/Contact Details]. We're here to assist you every step of the way.
</p>

<p>
    We're excited about the opportunity to welcome you to our team and look forward to the valuable contributions you'll bring to our community.
</p>

<p>
    Best regards,
</p>
<h3>Eunice King</h3>
<h4>VP, Digital Innovation</h4>
<h4>Arravo</h4> 
</div>