<h3>
    Dear User,
</h3>

<p>
We received a request to reset the password for your Arravo Hackathon account associated with the email address: [Participant's Email Address].
</p>


<p>
    To reset your password, please click on the following link:
</p>
<p>
<a style="text-align:center" href={{.Link}}>Reset</a>
</p>
<p>
Please note that this link will expire in {{.TTL}} minutes for security reasons. If you did not request this password reset or believe it to be in error, you can safely ignore this email, and your account will remain secure.
</p>