<div>
<p>
Dear {{.FirstName}} {{.LastName}},
</p>

<p>
Congratulations on joining the {{.TeamName}} team! We are excited to have you on board as part of the growing {{.TeamName}} team.
</p>

<p>
As you know, you were invited by {{.TeamLeadName}}, and we're thrilled that you've accepted the invitation. 
</p>

<p>
Your team members are looking forward to collaborating with you and achieving great things together. If you have any questions or need assistance, feel free to reach out to this email directly.
</p>

<p>
Once again, welcome to the {{.TeamName}} team! Let's make this an amazing journey.
</p>

Thank you,
  <h3>Eunice King</h3>
  <h4>VP, Digital Innovation</h4>
  <h4>Arravo</h4>
</div>
